{:paths
 ["src/tasks"]

 :tasks
 {:init
  (do
      (require 'tasks)
      (def source-paths ["src" "test"]))

  format-check
  {:depends [init]
   :task    (apply tasks/cljstyle "check" source-paths)}

  format-fix
  {:depends [init]
   :task    (apply tasks/cljstyle "fix" source-paths)}

  lint
  {:depends [init]
   :task    (tasks/clj-kondo-lint source-paths)}

  setup-hooks
  tasks/setup-git-hooks

  test
  (shell "clojure" "-A:test:test-deps")

  test-cljs
  (shell "shadow-cljs" "watch" "test" "-A:test-deps:test-cljs")

  test-cljs-once
  (do
      (shell "shadow-cljs" "compile" "ci")
      (shell "karma" "start" "--single-run"))}}
