{:paths
 ["src/tasks"]

 :tasks
 {:requires
  ([babashka.fs :as fs]
   [cheshire.core :as json]
   [tasks])

  :init
  (do
    (def source-paths ["src" "test"]))

  artifact
  (str "target/pathom3-" (tasks/current-version) ".jar")

  artifact:build
  {:depends [artifact]
   :task    (clojure (str "-X:jar :jar " artifact " :version '\"" (tasks/current-version) "\"'"))}

  artifact:install
  {:depends [build artifact]
   :task    (shell (str "mvn install:install-file -Dfile=" artifact " -DpomFile=pom.xml"))}

  artifact:deploy
  {:depends [artifact build]
   :task    (clojure (str "-X:deploy :artifact " artifact))}

  format-check
  {:task (apply tasks/cljstyle "check" source-paths)}

  format-fix
  {:task (apply tasks/cljstyle "fix" source-paths)}

  lint
  {:task (tasks/clj-kondo-lint source-paths)}

  version:bump
  {:doc  "Bump version to current date."
   :task (let [version (tasks/bump!)]
           (println "Bumped to" version))}

  setup-hooks
  tasks/setup-git-hooks

  test
  (shell "clojure" "-A:test:test-deps")

  test-cljs
  (shell "shadow-cljs" "watch" "test" "-A:test-deps:test-cljs")

  test-cljs-once
  (do
    (shell "shadow-cljs" "compile" "ci")
    (shell "karma" "start" "--single-run"))}}
