{:paths
 ["src/main" "resources"]

 :deps
 {com.fulcrologic/guardrails {:mvn/version "1.1.2"}
  com.wsscode/cljc-misc      {:mvn/version "2021.01.21"}
  org.clojure/core.async     {:mvn/version "1.3.610"}
  funcool/promesa            {:mvn/version "6.0.0"}
  edn-query-language/eql     {:mvn/version "1.0.0"}
  potemkin/potemkin          {:mvn/version "0.4.5"}}

 :aliases
 {:provided
  {:extra-deps {org.clojure/clojure       {:mvn/version "1.10.1"}
                org.clojure/clojurescript {:mvn/version "1.10.764"}}}

  :demos
  {:extra-paths ["src/demos"]}

  :graph-render
  {:extra-deps {macroz/tangle {:mvn/version "0.2.1"}}}

  :test-deps
  {:extra-deps {nubank/matcher-combinators {:mvn/version "3.1.4"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                            :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
                 macroz/tangle             {:mvn/version "0.2.1"}}
   :main-opts   ["-m" "cognitect.test-runner"]}

  :test-cljs
  {:extra-paths ["test"]
   :extra-deps  {thheller/shadow-cljs {:mvn/version "2.11.9"}}}}}
