{:paths
 ["src/main" "src/promesa" "resources"]

 :deps
 {com.fulcrologic/guardrails {:mvn/version "1.1.4"}
  org.clojure/core.async     {:mvn/version "1.3.610"}
  com.wsscode/cljc-misc      {:mvn/version "2021.05.12"}
  com.wsscode/log            {:git/url "https://github.com/wilkerlucio/log"
                              :sha     "325675d8d2871e74e789e836713ea769139e9c61"}
  funcool/promesa            {:mvn/version "6.0.0"}
  edn-query-language/eql     {:mvn/version "2021.02.28"}
  potemkin/potemkin          {:mvn/version "0.4.5"}}

 :aliases
 {:provided
  {:extra-deps {org.clojure/clojure        {:mvn/version "1.10.1"}
                org.clojure/clojurescript  {:mvn/version "1.10.764"}
                org.clojure/core.async     {:mvn/version "1.3.610"}
                com.cognitect/transit-clj  {:mvn/version "1.0.324"}
                com.cognitect/transit-cljs {:mvn/version "0.8.269"}}}

  :demos
  {:extra-paths ["src/demos"]}

  :test-deps
  {:extra-paths ["test"]
   :extra-deps  {nubank/matcher-combinators {:mvn/version "3.1.4"}
                 meander/epsilon            {:mvn/version "0.0.602"}
                 org.clojure/test.check     {:mvn/version "1.1.0"}
                 com.wsscode/transito       {:git/url "https://github.com/wilkerlucio/transito"
                                             :sha     "7119312488e8e8eac0262b86b0c74f6d940de78e"}}}

  :tasks
  {:extra-paths ["src/tasks"]
   :extra-deps  {babashka/babashka {:mvn/version "0.4.6"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                            :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts   ["-m" "cognitect.test-runner"]}

  :test-cljs
  {:extra-paths ["test"]
   :extra-deps  {thheller/shadow-cljs {:mvn/version "2.11.9"}}}

  :jar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.250"}}
   :exec-fn      hf.depstar/jar
   :exec-args    {:group-id    com.wsscode
                  :artifact-id pathom3
                  :sync-pom    true}}

  :deploy
  {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
   :exec-fn      deps-deploy.deps-deploy/deploy
   :exec-args    {:installer :remote
                  :sign-releases? true}}}}
